/* Logo */

/* .logo {
    background-color:  #4e52d0 !important;
    border-radius: 40px;
    border-width: 80%;
}

@media screen  {
    .logo {
        background-color:   #4e52d0 !important;
        border-radius: 40px;
        border-width: 80%;
    }   
} */